# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
E:\LearningWorkspace\commons-learning\.idea\workspace.xml
out
gen
