# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
.idea/workspace.xml
target
out
gen
commons-learning.iml
/commons-learning.iml
/.idea/sonarlint/issuestore/index.pb
/.idea/workspace.xml
