# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
.idea/workspace.xml
out
gen
commons-learning.iml
target/classes/countries_region.json
target/classes/org/chonnguyen/learning/model/ResAbsenteeism.class
target/generated-sources/
target/generated-test-sources/
